
/* Name: Kennth Luck
File: Chapter04-apply
Date: April 4, 2022 */
body, header, nav, main, footer, img, h1, h3{
margin: 0;
padding: 0;
border: 0;
}

/* Style rule for body and image */

body {
  background-color: #e3eaf8;
}

img {
	max-width: 100%;
}
/* Style rule for header content */

h1 {
	font-size: 3em;
	align-content: center;
	font-family: Georgia, Times, serif;
	padding: 3%;
	color: #101a2d;
}

/* Style rules for navigation area. */

nav nav ul, nav li, nav li a{
	background-color: #1d396d;
	list-style: none;
	margin: 0;
	text-align: center;
}

nav li a{
	display: inline-block;
	font-size: 1.5em;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
}

nav li a{
	display: inline-block;
	color: #e3eaf8;
	padding-top:0.5em;
	padding-bottom:0.5em;
	padding-left:2em;
	padding-right: 2em;
}

/* Style rule for main content */

main{
	
}
