/* Kenneth Luck
April 7, 2022
CSS Analyze  */

#css1, #css2, #css3 {
  width: 40%;
  float: left;
  padding: 01%;
}

/* This is h1 area. */

header h1 {
  text-align: center;
  font-size: 3em;
  font-family: Georgia, Times, serif;
  padding: 3%;
  color: #47476b;
}

/* This is the nav section. */

nav {
  background-color: #47476b;
}

nav ul { margin: 0;}

nav li {
  display: inline-block;
  font-size: 1.5em; font-family: Verdana, Arial, sans-serif; font-weight: bold;
}

/* This is the main area.  */

main {
  overflow: auto;
  padding: 2%;
  font-family: Geneva, Arial, sans-serif;
}

main h3 {
  padding-top: 2%;
  font-size: 2em;
}

main p {
  font-size: 1.25em;
}

/* This is where hte footer goes.  */

footer {
  float: left;
  padding 2%;
  background-color: #d1d1e0;
}
